<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="display.css">
    <title>Login</title>
</head>
<body>
<%- include('navbar') %>
<div class="loginForm">
    <form action="/login" method="post">
        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <label for="login">Email</label>
        <input type="text" name="email" id="email" required minlength="10"></input>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" required minlength="8"></input>
        <input type="submit" class="submit" value="Se connecter"></input>
        <a href="/register">Vous n'êtes pas inscrit ? Cliquez ici !</a>
    </form>
</div>
</body>
</html>