<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="display.css">
</head>
<body>

<div class="navbar">
    <a href="/register">Inscription</a>
    <a href="/users">Utilisateurs</a>
    <a href="/login">Connexion</a>
</div>  

</body>
</html>